/* CSS Reset */
*{

   margin:0px;
   padding:0px;

}
/* CSS Variables */


#con{
   text-align: right;
}
.con{ 
   position : sticky;
   width:22px;
   text-decoration: none;
   
}
#cono{
   position : sticky;
   font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: italic;
   text-align: right;
}

/* NAVIGATION BAR */
#navbar{
   position : sticky;
   height :70px;
   background-color:rgba(245, 116, 11, 0.938);
   display : flex;
   align-items : center;
}

/* navigation bar: logo and image */
#logo{
   margin-left :25px;
   margin-right :40px;
   height: 60px;
border: 2px solid;
width: 60px;

border-radius: 200px;
}

/* navigation bar: list styling */
.navList{
   /* width: 1353px; */
   display : flex;
   
}
.item{
   list-style: none;
   text-size-adjust: 24px;
   color : rgb(255, 255, 255);
   text-shadow: 3px 2px 0px rgb(2, 0, 0);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-left : 80px;
   margin: right 80px;
}
li a{
   padding : 5px;
   font-size : 20px;
   color : #fff;
   text-decoration: none;
}
a:hover{
   border : 1px solid rgb(255, 216, 216);
   border-radius: 15px;
   color : rgb(0, 0, 0);
   /* font-size:23px ; */
   text-shadow: 2px 2px 0px rgb(255, 239, 239);
}


.info{
  margin-top : 40px;
   /* flex-wrap: wrap; */
   padding : 25px;
   display : flex; 
   /* border-radius: 15px; */
   /* border: 2px solid rgb(197, 55, 55); */
   background-color : rgba(245, 116, 11, 0.938);
}
,bg1 {
   #
}

.text{
   margin: 20px;
   padding : 20px;
   border : 1px solid rgb(218, 36, 36);
   border-radius: 15px;
   box-shadow : 9px 9px 4px red;
   background-color: rgb(144, 223, 120);

}
.h-primary{
   padding: 20px;
   text-shadow: 3px 2px 0px rgb(253, 249, 249);
   margin-top: 8px;
   background-color: rgb(13, 13, 14);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-style: italic;
   text-align: center;
   color: rgba(245, 116, 11, 0.938);
   
   
}
#h-primary h1{

}
#h-primary{
   /* display: flex; */
   /* display: inline-block; */
   text-align: center;
   align-items: center;
   justify-content: center;
}
#home{
   /* background-image: url(/img/bg.jpg); */
   flex-wrap: wrap;
   display : flex;
   align-items: center;
   justify-content: center;
   font-family: 'Courier New', Courier, monospace;

}
.imgon{
   background-color:rgba(245, 116, 11, 0.938);; 
   /* background-image: url(/img/bg.jpg); */
   /* display : flex; */
   /* text-align : center; */
  
   text-align: center;
}
.imgonline{
   box-shadow : 9px 9px 4px red;
   width: 20%;
   margin : 20px;
   border-radius: 25px;
}






@media screen and (max-width: 960px ) {
   .navList {
      width: auto;
     /* background-color: blue; */
     /* color: white; */
   }
 }
 







.footer{
   /* justify-content: center; */
   /* display: flex; */
   /* flex-direction: row; */
   width: 100%;
    height: 40px;
    background-color: rgb(220 166 248);
    
}
.footer div h4{
   padding-top:5px;
  
}
.footer div div{
   text-align: center;
   position   : relative;
   /* animation: mymove 6s infinite; */
  
}
/* @keyframes mymove {
   from {left: 110px; } 
   to { right:1106px ;}
} */
/* .footer div img{
   height: 60px;
   border: 2px solid;
   width: 60px;} */

   @media screen and (max-width: 970px) {
      #navbar{
         position : sticky;
         height :70px;
         background-color:rgba(245, 116, 11, 0.938);
         display : flex;
         font-size: 10px;
         align-items : center;
      }
      .item{
         padding: auto;
         margin: 0;
      }
      .item a{
         font-size: 10px;
      }
      .navList{
         width: 100px;
         display : flex;
         
      }
      #logo{
         margin-left :5px;
         margin-right :20px;
         height: 60px;
      border: 2px solid;
      width: 60px;
      
      border-radius: 200px;
      }
      .info{
         display: flex;
         flex-wrap: wrap;
      }
      .h-primary{
         font-size: 30px;
         font-weight: 700;
      }
    }